.main-background{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)),url('/images/main.jpg');
    background-size: 100% 100%;
}
.main-background h2{
    font-size: 60px;
    font-weight: bolder;
}
.main-background p{
    font-size: 20px;
    font-weight: bold;
}
.review-background{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.card{
    box-shadow: 1px 1px 1px 1px #ffffff;
    margin: 0 auto;
}
.card img{
    height: 100px;
}
.product-list-child{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 15px;
    width: 78%;
    margin: 0 auto;
}
@media screen and (max-width:980px) {
    .product-list-child{
        grid-template-columns: repeat(3,1fr);
        grid-row-gap: 15px;
    }
}
@media screen and (max-width:716px) {
    .product-list-child{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 15px;
    }
}
@media screen and (max-width:580px) {
    .review-background{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 30px;
    }
    .card{
        width: 90%!important;
    }
}
@media screen and (max-width:480px){
    .card-title{
        font-size: 16px;
    }
    .product-list-child{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 10px;
    }
}