<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=docTitle%></title>
    <%-include('../layouts/bootstrap-header.ejs')%>
    <link rel="stylesheet" href="/css/success.css" type="text/css">
</head>
<body>
    <main>
        <h3 class="text-center">Congrats your order have been placed</h3>
        <a href="/" class="btn btn-danger">Return Home</a>
    </main>
</body>
</html>